.folder-icon {
  width: 28px;
  height: 24px;
  display: inline-block;
  background-image: url(/assets/icons/folder-icon.svg);
  background-size: 28px;
  background-position: 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: auto 6px;
}
