.waypoint-button {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url(/assets/icons/waypoint.svg);
  background-size: 22px;
  background-position: 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: auto 6px;
}
