
*,
*:after,
*:before {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	background-image: linear-gradient(#757F9A, #A5ADC1);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

/*
Gradient Combos

#757F9A, #D7DDE8
#DE6262, #FFB88C
#5CC8CB, #80E0D5
#9bc5c3, #616161
*/

html {
  	width: 100%;
}

/* tooltip */

.tooltip {
  padding: 12px;
  background: #fff;
  color: #333;
  border-radius: 2px;
  max-width: 320px;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
}

.tooltip-url {
	color:	#666;
	font-size: 8px;
	padding-top: 2px;

}

#map {
	width: 100%;
	height: 100%;
	background-image:url(/ui/icons/logo-watermark.svg);
	background-repeat: no-repeat;
	background-position:30px 30px;
}

.map-title h1 {
	color: #4D4D4D;
	background-color: #fff;
	border-radius: 2px;
	position: absolute;
	font-size: 12px;
	font-weight: 400;
	padding: 8px 12px;
	top: 32px;
	left: 74px;
}

.map-title h1:after {
  content:"";
  position:absolute;
  border-style:solid;
  top:11px; /* controls vertical position */
  left:-6px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:6px 6px 6px 0;
  border-color:transparent #fff;
}

/* nodes */
.node {
	fill: #fff;
	fill-rule: evenodd;
}
.node-halo {
	fill-opacity: 0.1;
}
.node-core {
	opacity: 1;
}


.open .node-halo{
	stroke: #44C0FF;
	stroke-width: 1px;
	stroke-opacity: .9;
}


.root .node-halo{
	fill-opacity: 0.6;
	fill: #FF9D99;
}

.hub .node-halo{
	fill-opacity: 0.6;
}

/* links */
.link {
	stroke: #fff;
	stroke-width: 1px;
	stroke-linecap: round;
	opacity: .8;
	vector-effect: non-scaling-stroke;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* dropdown */
/* temp made invisable untill in working order */

.click-nav {
	margin:30px auto;
	width:200px;
	position: fixed;
	left: 0;
	right: 0;
	display: none;
}
.click-nav ul {
	font-weight:900;
}
.click-nav ul li {
	position:relative;
	list-style:none;
	cursor:pointer;
}
.click-nav ul li ul {
	position:absolute;
	left:0;
	right:0;
}
.click-nav ul .clicker {
	background: #444;
	color:#FFF;
}

.click-nav ul .clicker img {
	float: right;
	padding: 6px 6px 6px 6px;
}

.click-nav ul .clicker:hover,
.click-nav ul .active {
	background:#333;
}

.click-nav ul li a {
	transition:background-color 0.2s ease-in-out;
	-webkit-transition:background-color 0.2s ease-in-out;
	-moz-transition:background-color 0.2s ease-in-out;
	display:block;
	padding:12px 12px 12px 16px;
	background:#FFF;
	color:#333;
	text-decoration:none;
}
.click-nav ul li a:hover {
	background:#ddd;
}
/* Fallbacks */
.click-nav .no-js ul {
	display:none;
}
.click-nav .no-js:hover ul {
	display:block;
}




