
*,
*:after,
*:before {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font:400 13px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-image: linear-gradient(#5CC8CB, #80E0D5);
}

html {
  width: 100%;
}

/* tooltip */

.tooltip {
  padding: 12px;
  background: #fff;
  color: #333;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  max-width: 320px;
  text-align: center;
  overflow: hidden;
}

#map {
	width: 100%;
	height: 100%;
}

/* nodes */
.node {
	fill: #fff;
	fill-rule: evenodd;
}
.node-halo {
	opacity: 0.1;
}
.node-core {
	opacity: 0.9;
}

.open .node-halo{
	opacity: 0.8;

}

/* links */
.link {
	stroke: #fff;
	stroke-width: 1px;
	opacity: .2;
	vector-effect: non-scaling-stroke;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* dropdown */
/* temp made invisable untill in working order */

.click-nav {
	margin:30px auto;
	width:200px;
	position: fixed;
	left: 0;
	right: 0;
	display: none;
}
.click-nav ul {
	font-weight:900;
}
.click-nav ul li {
	position:relative;
	list-style:none;
	cursor:pointer;
}
.click-nav ul li ul {
	position:absolute;
	left:0;
	right:0;
}
.click-nav ul .clicker {
	background: #444;
	color:#FFF;
}

.click-nav ul .clicker img {
	float: right;
	padding: 6px 6px 6px 6px;
}

.click-nav ul .clicker:hover,
.click-nav ul .active {
	background:#333;
}

.click-nav ul li a {
	transition:background-color 0.2s ease-in-out;
	-webkit-transition:background-color 0.2s ease-in-out;
	-moz-transition:background-color 0.2s ease-in-out;
	display:block;
	padding:12px 12px 12px 16px;
	background:#FFF;
	color:#333;
	text-decoration:none;
}
.click-nav ul li a:hover {
	background:#ddd;
}
/* Fallbacks */
.click-nav .no-js ul {
	display:none;
}
.click-nav .no-js:hover ul {
	display:block;
}




