

.assignment-menu {
	color: #555;
	font-family: 'Open Sans', sans-serif;
}

.assignment-menu ul {
	margin: 0;
	padding: 0;
}

.assignment-menu li {
	list-style-type: none;
	cursor: pointer;
	background-color: #eee;
	width: 14em;
	margin: 1em;
	padding: 1em;
	margin-right: auto; 
	margin-left: auto;
}

.assignment-menu li:hover {
	background-color: #ccc;

}