html {
  width: 400px;
  height: 300px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.string { color: #aed581; }
.number { color: #81d4fa; }
.boolean { color: #ce93d8; }
.null { color: #f69988; }
.key { color: #ff8a65; }

.node {
	fill: #fff;
	stroke: #000;
	stroke-width: 1px;
	vector-effect: non-scaling-stroke;
}

.link {
	stroke: #333;
	stroke-width: 2px;
	vector-effect: non-scaling-stroke;
}

.overlay {
  fill: none;
  pointer-events: all;
}