
*:focus {outline: none;}

body {
	width: 160px;
	padding: 26px 10px 26px 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

h1 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

.idle {
	background-image: url(/ui/icons/idle-background.png);
	background-repeat: none;
	background-size: 100%
}

/* Recording Title */

.recording-title {
	position: relative;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	margin: 0;
}

.recording-title a {
	position: relative;
	text-decoration: none;
	color: #222;
}

.recording-title a img {
	position: absolute;
		right: -12px;
}

.recording-title input {
  text-align: center;
  font-size: 12px;
}

.recording-title.state {
	color: #aaa;
	font-size: 10px;
	font-weight: 400;
	margin-bottom: 30px; 
}

/* Buttons */

.button {
	width: 130px;
	padding: 20px 0;
	margin: 0 auto 20px auto;
	border-radius: 3px;
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: #616161;
	color: #fff;
}

.button:hover {
	background-color: #5B5B5B;
}

.button-stop {
	background-color: #F97E76;
	padding: 10px 0;
	width: 100px;
}

.button-stop:hover {
	background-color: #F7766C;
}

.folder {
	display: block;
	width: 78px;
	margin: 80px auto 60px auto;
}

.start-recording{
	background-image:url(/ui/icons/new-icon.svg);
	background-repeat: no-repeat;
	background-position:92px 16px;
}

.folder img {margin-bottom: 8px}

.logout {
	float: right;
}

.sign-in {
	width: 150px;
	padding: 12px 0;
	background-color: #76A9F9;

}


