
*:focus {outline: none;}

body {
	width: 160px;
	padding: 40px 10px 26px 10px;
	font-family: sans-serif;
	font-size: 14px;
}

.button {
	width: 130px;
	padding: 20px 0;
	margin: 0 auto 20px auto;
	border-radius: 3px;
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: #616161;
	color: #fff;

}

.button-stop {
	background-color: #F97E76;
}

.button-view-trail {
	margin-bottom: 40px;
}

.folder {
	display: block;
	width: 78px;
	margin: 40px auto 40px auto;
	text-decoration: none;
	text-align: center;
	color: #7B7B7B;
}

.folder img {margin-bottom: 8px}

.logout {
	float: right;
}

.sign-in {
	width: 150px;
	padding: 12px 0;
	background-color: #76A9F9;

}


