.legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: rgba(77, 77, 77, 1);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    svg {
      vertical-align: middle;
      position: relative;
      top: -2px;
      margin-right: 0.5em;
    }
  }

  .node {
    cursor: default;
  }

  .root .node-halo {
    stroke-width: 2px;
  }
}
